<div class="container-fluid d-flex justify-content-center mt-3">
    <h3><a href="https://www.etl-tools.com/active-table-editor/overview.html" >Advanced ETL Processor</a> </h3> 
</div>
<div class="container-fluid d-flex justify-content-center mt-3">
  <div class="btn-group btn-group-sm" role="group">
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> Download free trial</button>
        <div class="dropdown-menu">
            <a href="https://www.etl-tools.com/dmdocuments/AdvancedETLEnt_32.zip" class="dropdown-item text-black">Download 32 Bit</a> 
            <a href="https://www.etl-tools.com/dmdocuments/AdvancedETLEnt_64.zip" class="dropdown-item text-black">Download 64 Bit</a>
        </div>
    </div> 
    <a href="https://www.etl-tools.com/table/advanced-etl-processor/tutorials/" class="btn btn-info" role="button">Learn</a> 
    <a href="https://www.etl-tools.com/advanced-etl-processor-enterprise/order.html" class="btn btn-success" title="Buy Now">BUY - $690</a>
  </div>
 </div>
 <div class="container-fluid d-flex justify-content-center mt-3">
    <p>For more technologies supported by our <a href="https://www.etl-tools.com/">ETL Software </a> see <a href="https://www.etl-tools.com/advanced-etl-processor/editions.html"> Advanced ETL Processor Versions</a></p> 
</div>
 <div class="container-fluid d-flex justify-content-center">
    <h6 class="m-0">Confused? Ask question on our <a href="https://www.etl-tools.com/forum/index.html" > ETL Forum</a></h6> 
</div>
