<div class="container-fluid d-flex justify-content-center mt-3">
    <h3>Licensing Server</h3> 
</div>
<div class="container-fluid d-flex justify-content-center mt-3">
  <div class="btn-group btn-group-sm" role="group">
    <a href="https://www.etl-tools.com/dmdocuments/licensing_server_64.zip" class="btn btn-warning" role="button">Download (Windows 64 Bit)</a> 
    <a href="https://www.etl-tools.com/dmdocuments/licensing-server-amd64.deb" class="btn btn-warning" role="button">Download (Linux 64 Bit deb)</a>
  </div>
 </div>
 <div class="container-fluid d-flex justify-content-center mt-3">
    <h6>Confused? Ask question on our <a href="https://www.etl-tools.com/forum/index.html" > ETL Forum</a></h6> 
</div>